*

!.gitignore

!main.c
!nrf24.c
!nrf24.h
!Makefile
!mcc-manifest-autosave.yml
!mcc-manifest-generated-success.yml
!nRF24_code.mc3

!mcc_generated_files/
!mcc_generated_files/**
!nbproject/
!nbproject/**

build/
debug/
dist/
defmplabxtrace.log
defmplabxtrace.log.inx
queuelogs/
